* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  @font-face {
    font-family: geometria;
    src: url('../css/Geometria/Geometria-Light.ttf') format('truetype');
  
  }
  body {
    margin: 0;
    padding: 0;
    font-family: geometria;
   
  }
  header nav {
    margin-top: 0;
    display: flex;
   /*  flex-flow: row nowrap; */
    justify-content: space-between;
    align-items: center;
    background: black; 
    /* Background should be later changed to transparent */
  }
  header nav ul li a {
    text-decoration: none;
    color: #fff;
    margin-right: 2em;
    font-size: 17px;
  }
  header nav ul{
    display: flex;
    list-style-type: none;
  }
/* ============== Add next Section styles here =================*/

/* ABOUT US PAGE DESIGN HERE */
.about-us{
    width: 100%;
    min-height: 80;
    background: linear-gradient(to right, rgba(0,0,0,.4), rgba(0,0,0,.4)), url('../Donate.png') no-repeat center center;    
    display: flex;
    flex-direction: column;
    padding: 20px;
}
.about-us h1.d-black{
    font-weight: 900;
    font-size: 2.5em;
    font-family: 'Fira sans', sans-serif;
    color: #FFA401;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 20px;
    
     
}

.about-us section.section-info{
    width: 420px;
    height: auto;
    text-rendering: optimizeSpeed;
    background: rgba(255, 255, 255, .5);
    padding: 20px;
    border-radius: 10px;
    margin-left: 20px;
}
@media (max-width: 900px){
    .about-us h1.d-black{
        margin: 0;
    }
    .about-us section.section-info{
        width: auto;
        margin: 0;
    }
}
.about-us section.section-info h1{
    font-size: 2em;
    color: #014127;
    font-family: 'Fira sans', sans-serif;
    line-height: 1.5;
    margin-bottom: 20px;
    z-index: 1000;
}

.rating{
    width: 100%;
    min-height: 400px;
    background: #E5E5E5;
    display: flex;
    justify-content: space-evenly;
    flex-flow: row wrap;
    padding: 20px;
}
.rating section{
    /* background: #FFA401; */
    display: flex;
    flex-flow: column wrap;
    height: auto;
    justify-content: center;
    margin-bottom: 10px;
}
.rating section .circle{
    min-width: 250px;
    min-height: 250px;
    border-radius: 50%;
    border: 1px solid #999999;
    position: relative;
    display: flex;
    margin-bottom: 10px;
}
.rating section .circle span{
    font-size: 50px;
    font-weight: bold;
    margin: auto;
}
.rating section span[data-text]{
    text-align: center;
    justify-self: center;
    font-weight: 200;
    font-size: 20px;
    color: black;
    font-weight: 500;
}
.donate{
    padding: 40px;
    display: flex;
    padding-left: 50px;
    padding-right: 50px;
    width: 100%;
    min-height: 100px;
    background: white;
    justify-content: space-between;
    flex-flow: row wrap;
}
.donate h1{
    align-self: center;
    margin-bottom: 10px;
}
.donate .btn{
    justify-self: flex-end;
    border: none;
    align-self: center;
  
}
.donate .btn button{
    padding: 10px 50px;
    background: #FFA401;
    border: 1px solid #FFA401;
    border-radius: 50px;
    color: white;
    cursor: pointer;
    font-weight: bold;
    box-shadow: 0 5px 15px 0 hsla(0, 0%, 0%, 0.15);
}


/* ABOUT US PAGE DESIGN ENDS HERE */