/* Prefixes added to support all browsers */
*{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;

}
body{
    margin: 0;
    padding: 0;
}

