/* Prefixes added to support all browsers */
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: geometria;
  src: url('../css/Geometria/Geometria-Light.ttf') format('truetype');

}
body {
  margin: 0;
  padding: 0;
  font-family: geometria;
 
}
a{
  text-decoration: none;
  color: #fff;
}
ul{
  list-style-type: none;
}

/*======== Nairocare Home page here ========*/
.first-section {
  box-sizing: border-box;
  min-height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  padding: 0 30px;
  background: linear-gradient(to right, rgba(0,0,0,.4), rgba(0,0,0,.4)), url("https://res.cloudinary.com/laviedegeorge/image/upload/v1567198187/startng/nairo_images/bg-image_vm4qql.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.first-section header nav {
  margin-top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.icon {
  display: none;
  color:#FFA401;
}

#nav-items {
  display: flex;
  list-style-type: none;
}


#nav-items a {
  text-decoration: none;
  color: #fff;
  margin-right: 2em;
  font-size: 17px;
}

.first-div {
  margin-left: 1em;
  margin-top: 4em;
}

.first-section h1 {
  color: orange;
  font-weight: bolder;
  font-size: 48px;
}

.first-section p {
  color: #fff;
  font-size: 25px;
}

.first-div button {
  border-radius: 18px;
  border: 2px solid orange;
  width: 200px;
  padding: 10px 5px;
  color: orange;
  font-size: 17px;
  margin-right: 15px;
}
.donate-btn {
  background-color: orange;
  color: #fff !important;
}
.get-involved-btn {
  background-color: transparent;
}

#active {
  color: orange !important;
}


  .first-section h1 {
    font-size: 40px;
  }
  .first-section p {
    font-size: 20px;
  }
  /* #nav-items {
    display: none;
  } */
  /* .icon { display: block; } */
  .first-div {
    margin: auto;
  }


/* Homepage styling ends here */

/* ============== Add next Section styles here =================*/

/* GET INVOVLED STARTS HERE */

.get-involved{
  width: 100%;
  background-color: #E5E5E5;
}
.background{
  min-height: 100vh;
  display: grid;
  grid-template-columns: 45% 45%;
  grid-gap: 5%;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.img_div img {
  width: 100%;
  /* height: 100%; */
  object-fit: contain;
}

.head{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.top, .below{
font-size: 30px;
font-weight:bold;
color: #22352B;
}
.under, .under2{
  width: 230px;
  height: 2px;
  background-color: #FFA401;
  border: none;
}
.under2{
  width: 100px;
}

.word{
  text-align: right;
}

.click{
  background-color:#22352B;
  color: #fff;
  width: 150px;
  height: 40px;
  border-radius: 20px;
  margin-top: 15px;
  border: none;
}

/* GET INVOVLED ENDS HERE */

/* MORE INFORMATION STARTS HERE */

.kc_info{
height: 550px;
width: 100%; 
display: grid;
justify-content: center;
align-items: center;
grid-template-columns: 45% 40%;
grid-gap: 5%;
background:url('https://res.cloudinary.com/laviedegeorge/image/upload/v1567198192/startng/nairo_images/boy_vokhz0.png'); 
background-size: cover; 
background-repeat: no-repeat;
background-position: bottom center;
color: #fff;
}
.num_donors{
  display: flex;
  justify-content: center;
  align-items: center;
}
.write_up{
  font-size: 2em;
  line-height: 1.5em;
}
.num{
  font-weight: bold;
  font-size: 1.5em;
  text-align: center;
}
.num > span {
  font-weight: 100;
}
.center{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 25px;
}
/* MORE INFORMATION STARTS HERE */

/* DONATION STARTS HERE */
.kc_donate{
  width: 100%;
  height: 550px;
  display: grid;
  grid-template-columns: 40% 40%;
  grid-gap: 3%;
  align-items: center;
  justify-content: center;
  background: url('https://res.cloudinary.com/laviedegeorge/image/upload/v1567198190/startng/nairo_images/annie_ngbfx1.png');
  background-size: cover; 
  background-repeat: no-repeat;
  background-position: bottom center;
  color: #fff;
}
.do{
  font-size: 30px;
  font-weight: bold;
}
form{
  background-color: #e5e5e547;
  border-radius: 10px;
  padding: 15px 0px 15px 50px;
  color: #fff;
}
.b{
  display: block;
  margin-top: 10px;
}
.input{
  width: 80%;
  height: 30px;
  background: transparent;
  border: none;
  border-bottom: 1px solid #fff;
  color: #fff;
  
}

.btn_secure{
  display: flex;
  margin-top:10px;
}
.btn{
  width: 100px;
  height: 35px;
  background-color: #FFA401;
  color: #fff;
  border: none;
  border-radius: 30px;
  margin-top: 15px;
}
.secure{
  text-align: center;
}
.secure p {
  color: #000;
}
.secure p span {
  font-weight: bolder;
  text-transform: uppercase;
}
.secure img{
  width: 80%;
}
/* DONATE ENDS HERE */

/* FOOTER STARTS HERE */

footer{
  background-color: #014127;
  color: #fff;
  padding: 30px;
}
.footer_cont{
  text-align: center;
}
.footer_cont p{
  font-weight: bold;
}
.footer_cont hr {
  margin: 10px 0px;
  border: none;
  height: 1px;
  background-color: #fff;
}
.sub_cont{
  width: 100%;
  display: grid;
  grid-template-columns: 80% 20%;
}
.sub_cont input {
  height: 40px;
  border: none;
}
.sub_cont button {
  border: none;
  color: #fff;
  background-color: #FFA401;
}
.socials{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.socials i {
  font-size: 1.5em;
  color: #FFA401;
  margin-left: 15px;
}
.legal ul {
  display:flex;
  width: 100%;
  justify-content: space-evenly;
  font-weight: bold;
  padding-right: 25px;
}

/* FOOTER ENDS HERE */

/* MEDIA QUERIES */
@media(max-width: 900px){
  .first-div {
   width:auto ; margin: auto;

 }
}

@media screen and (max-width: 650px){
  .first-section {
    width: auto; 
/*     border: 2px solid red; */
  }


@media(max-width: 500px) {
  #nav-items { display: none; }
  .icon{ display: block; }
  .first-div { margin: auto; }
  .donate-btn { background-color: darkgreen; border:none;}
  .get-involved-btn { display: none; vertical-align: middle;}
} 

@media(max-width: 320px) {
  body{
    max-width: 100%;
    box-sizing: border-box;
  }
  .background, .kc_info, .kc_donate{
    display: block;
    height: auto;
    padding: 10px;
  }
  form{
    padding: 15px;
  }
}
}