/* Prefixes added to support all browsers */
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: geometria;
  src: url('../css/Geometria/Geometria-Light.ttf') format('truetype');

}
body {
  margin: 0;
  padding: 0;
  font-family: geometria;
 
}

/*======== Nairocare Home page here ========*/
/* html { */
  /* box-sizing: border-box;
  width: 100%;
  background: url("../images/bg-image.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; */
/* } */

.container {
  box-sizing: border-box;
  height: 100vh;
  display: flex;
  flex-flow: column wrap;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  padding: 0 20px;
  width: 100%;
  background: linear-gradient(to right, rgba(0,0,0,.4), rgba(0,0,0,.4)), url("https://res.cloudinary.com/laviedegeorge/image/upload/v1567198187/startng/nairo_images/bg-image_vm4qql.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.container header nav {
  margin-top: 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.container header nav a {
  text-decoration: none;
  color: #fff;
  margin-right: 2em;
  font-size: 17px;
}

.container h1 {
  color: orange;
  font-weight: bolder;
  font-size: 42px;
}

.container p {
  color: #fff;
  font-size: 20px;
}
.container header nav img {
  margin-right: 40em;
}

.container button {
  border-radius: 18px;
  border: 2px solid orange;
  width: 12%;
  padding: 8px 0px;
  color: orange;
  font-size: 15px;
  margin-right: 1em;
}
.container .button1 {
  background-color: orange;
  color: #fff;
}

.container .button2 {
  /*opacity: 0.2;*/
  background-color: transparent;
}

#active {
  color: orange;
}
.first-div {
  margin-left: 3em;
  margin-top: 3em;
}

/* Homepage styling ends here */

/* ============== Add next Section styles here =================*/

/* ABOUT US PAGE DESIGN HERE */
.about-us{
    width: 100%;
    min-height: 100vh;
    background: #fff; 
       /* background image will still be added */
    display: flex;
    flex-direction: column;
    padding: 20px;
    
}
.about-us h1.d-black{
    font-weight: 900;
    font-size: 2.5em;
    font-family: 'Playfair Display', serif;
    color: #FFA401;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 1em;
     
}

.about-us section.section-info{
    width: 400px;
    height: auto;
    text-rendering: optimizeSpeed;
    background: rgba(255, 255, 255, .7);
    padding: 20px;
    border-radius: 10px;
    margin-left: 1em;
}
@media (max-width: 900px){
    .about-us section.section-info{
        width: auto;
    }
}
.about-us section.section-info h1{
    font-size: 2em;
    color: #014127;
    font-family: 'Playfair Display', serif;
    line-height: 1.5;
    margin-bottom: 20px;
}
.about-us section.section-info p{
    color: #222222;
    font-family: 'Raleway', sans-serif;
}


/* ABOUT US PAGE DESIGN ENDS HERE */




/* MORE INFORMATION STARTS HERE */

.kc_info{
height: 550px;
width: 100%; 
display: grid;
justify-content: center;
align-items: center;
grid-template-columns: 45% 40%;
grid-gap: 5%;
background:url('https://res.cloudinary.com/laviedegeorge/image/upload/v1567198192/startng/nairo_images/boy_vokhz0.png'); 
background-size: cover; 
background-repeat: no-repeat;
background-position: bottom center;
color: #fff;
}
.num_donors{
  display: flex;
  justify-content: center;
  align-items: center;
}
.write_up{
  font-size: 2em;
  line-height: 1.5em;
}
.num{
  font-weight: bold;
  font-size: 1.5em;
  text-align: center;
}
.num > span {
  font-weight: 100;
}
.center{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 25px;
}
/* MORE INFORMATION STARTS HERE */

/* DONATION STARTS HERE */
.kc_donate{
  width: 100%;
  height: 550px;
  display: grid;
  grid-template-columns: 40% 40%;
  grid-gap: 3%;
  align-items: center;
  justify-content: center;
  background: url('https://res.cloudinary.com/laviedegeorge/image/upload/v1567198190/startng/nairo_images/annie_ngbfx1.png');
  background-size: cover; 
  background-repeat: no-repeat;
  background-position: bottom center;
  color: #fff;
}
form{
  background-color: #e5e5e547;
  border-radius: 10px;
  padding: 15px 0px 15px 50px;
  color: #fff;
}
.b{
  display: block;
  margin-top: 10px;
}
.input{
  width: 80%;
  height: 30px;
  background: transparent;
  border: none;
  border-bottom: 1px solid #fff;
  color: #fff;
  
}
.btn{
  width: 100px;
  height: 35px;
  background-color: #FFA401;
  color: #fff;
  border: none;
  border-radius: 30px;
  margin-top: 15px;
}

/* DONATION ENDS HERE */

/* Welcome to our charity starts here */
img{
  width: 60%;
  height: 800px;
  
}
.background{
  box-sizing: border-box;
  padding:40px 25px 60px 25px;
}
.head{
  padding-left: 620px;
  padding-right: 20px; 
  margin-top:-750px ;
}
.top{
  grid-area: top;  
  font-size:40px;
  color: green;

}
.under{
  margin-top: -9px;
  background-color: yellow;
  width: 97%;
  height: 5px;
}
.below{
  padding-left: 170px;
  font-size: 40px;
  color: green;
}
.under2{
  margin-top: -9px;
  margin-left: 175px;
  background-color: yellow;
  width: 42%;
  height: 5px;  
}
.word{
  padding-top: 20px;
}
.click{
  background-color: green;
  border-radius: 10px;
  color: white;
  text-align: center;
  width: 40%;
  padding: 3px;
  margin-top: 30px;
  margin-left:200px;
}

a{
  text-decoration: none;
}