@font-face {
  font-family: geometria;
  src: url('../css/Geometria/Geometria-Light.ttf') format('truetype');

}
*{
  outline: none;
  box-sizing: border-box;
}
body{
  box-sizing: border-box;
  /* height: 100vh; */
  /* display: flex;
  flex-flow: column wrap; */
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  padding: 0 30px;
  width: 100%;
  background: linear-gradient(to right, rgba(0,0,0,.4), rgba(0,0,0,.4)), url("https://res.cloudinary.com/laviedegeorge/image/upload/v1567198187/startng/nairo_images/bg-image_vm4qql.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: 0;
padding: 0;
font-family: geometria;
}
ul{
  padding: 0%;
  list-style-type: none;
}

/* HEADER ................. */

header nav {
  margin-top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.icon {
  display: none;
  color:#FFA401;
  font-size: 2rem;
}

#nav-items {
  display: flex;
  list-style-type: none;
}


#nav-items a {
  text-decoration: none;
  color: #fff;
  margin-right: 2em;
  font-size: 17px;
  transition: ease-in-out .5s;
}
#nav-items a:hover{
  color: #FFA401;
}


.portfolio{
  width: 100%;
  background-color: #ccc;
}
#active {
  color: orange !important;
}


/* BODY................. */
.main{
  width:100%;
  background-color: #ccc;
}
.white{
  width: 100%;
  padding: .3rem 0px;
  background-color: #ccc;
}
.h1 {
  font-weight: bold;
  font-size: 25px;
  color: #014127;
  text-indent: 2rem;
  margin: 1rem 0px 0px 0px;
}
.trans{
  width: 100%;
  height: 70px;
  background: transparent;
}
.yellow_hr{
  margin-left: 14px;
  text-align: left;
  width: 130px;
  height: 2px;
  background-color: #FFA401;
  border: none;
}
body .front-end-cont {
  height: 1000px;
}
.cont{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  grid-template-columns: 20% 20% 20% 20%;
  grid-gap: 5%;
  align-items: center;
  justify-content: center;
  padding: 25px 0 25px 30px;
  align-content: flex-start;
}
.team_member{
  margin: 20px;
  width:300px;
  height: 450px;
  border: 1px solid #FFA401;
  border-radius: 10px;
  box-shadow: 0px 0px 5px #333;
}
.team_member img {
  object-fit: cover;
  width: 100%;
  border-radius: 10px 10px 0px 0px; 
  max-height:250px;
  min-height: 250px;
  object-fit: cover;
  filter: grayscale(100%)
}
.name {
  text-align: center;
  font-weight: bold;
  margin: 0px ;
}
.socials{
  margin: 0px;
}
.mre_details{
  font-size: 12px;
  color:#fff;
  background-color: #22352B;
  text-decoration: none;
  padding: 5px;
  border-radius: 5px;
  transition: ease-in-out .3s;
}
.mre_details:hover{
  background-color: #FFA401;
}
.discrip{
  padding: 5px;
  margin: 0px;
  font-size: 15px;
  text-align: center;
}
.position{
  font-weight: bold;

}
/* .v_more{
  width: 100px;
  height: 35px;
  font-size: 15px;
  background-color: #014127d6;
  color: #fff;
  border: none;
  border-radius: 15px;
  margin-left: 10px;
  transition: ease-in-out .5s;
  margin-bottom: 10px;
} */
/* .v_more:hover{
  background-color: #014127;
  transform: scale(1.05);
} */



  .fa {
    padding: 5px;
    font-size: 80px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 20%; 
  }
  
  .fa:hover {
    opacity: 0.7;
  }

  .fa-twitter {
    background: #55ACEE;
    color: white;
    font-size: 60px;
    text-decoration: none;
  }
 
  .fa-github {
    background: rgb(20, 20, 20);
    color: white;
  }

  .fa-linkedin {
  background: #007bb5;
  color: white;
}



/* FOOTER............ */

footer{
  background-color:#22352B;
  color: #fff;
  padding: 30px;
}
.footer_cont{
  text-align: center;
}
.footer_cont p{
  font-weight: bold;
}
.footer_cont hr {
  margin: 10px 0px;
  border: none;
  height: 1px;
  background-color: #fff;
}
.sub_cont{
  width: 100%;
  display: grid;
  grid-template-columns: 80% 20%;
}
.sub_cont input {
  height: 40px;
  border: none;
  text-indent: 10px;
}
.sub_cont button {
  border: none;
  color: #fff;
  background-color: #FFA401;
}
.socials{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.socials i {
  font-size: 1.5em;
  color: #FFA401;
  margin-left: 15px;
}
.legal ul {
  display:flex;
  width: 100%;
  justify-content: space-evenly;
  font-weight: bold;
  padding-right: 25px;
}
@media(max-width: 800px) {
  #nav-items { display: none;}
  .icon{ display: block; }
  /* .main-container {

  } */
  .row { display: block; }

  h2,p {
    text-align: center;
    margin: auto;
  }

   .column-5-first {
    width:70%;margin: auto;display: block;
  }
  .column-5-middle {
     width:40%;margin:15px;
     display: inline-block;
  }

}
/* MEDIA QUERIES.................... */

@media(max-width: 500px) {
  .fa{
    margin-right: 10px;
  }
  #nav-items {
    display: none;
    flex-flow: column wrap;
    background: rgba(17, 16, 16, 0.9);
    color: white;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    text-align: center;
    transition: 500ms ease-in-out all;
    margin: 0px;
    z-index: 500;
  }
 #nav-items li{
   margin: auto;
   margin-top: 0px;
   margin-bottom: 20px;
   display: flex;
 }

i.fa-times{
  font-size: 100px;
  margin-top: 0px;
  align-self: center;
  margin-left: 30px;
  opacity: 0.5;
  mix-blend-mode: hard-light;
 }
 #nav-items li a{
  margin: auto;
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  padding: 10px;
 }
  .icon{ display: block; }
  .first-div { margin: auto; }
  .donate-btn { background-color: darkgreen; border:none;}
  .get-involved-btn { display: none; vertical-align: middle;}
  footer{
    padding: 10px;
  }
  .cont{
    display: block;
    height: auto;
    width: 100%;
    width: 100%;
    padding: 25px 0px 25px 0px;
    align-content: flex-start;

  }
  .team_member{
    height: auto;
    margin-bottom: 10px;
    margin: 30px auto;
  }
  .h1{
    text-indent: 0%;
    text-align: center;
  }
  .yellow_hr{
    text-align: center;
  }
} 
