

/* Prefixes added to support all browsers */
* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  @font-face {
    font-family: geometria;
    src: url('../css/Geometria/Geometria-Light.ttf') format('truetype');
  
  }
  body {
    margin: 0;
    padding: 0;
    font-family: geometria;
    max-height: 100%;
    background-color: lightgray;
    background-size: 100% 100%;
   
  }
  
  


  
  .container {
    box-sizing: border-box;
    height: 100vh;
    /* display: flex;
    flex-flow: column wrap; */
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    /* padding: 0 30px; */
    width: 100%;
    background: linear-gradient(to right, rgba(0,0,0,.4), rgba(0,0,0,.4)), url("https://res.cloudinary.com/laviedegeorge/image/upload/v1567198187/startng/nairo_images/bg-image_vm4qql.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  .container header nav {
    margin-top: 0;
    display: flex;
   /*  flex-flow: row nowrap; */
    justify-content: space-between;
    align-items: center;
  }
  
.container header nav ul li a {
    text-decoration: none;
    color: #fff;
    margin-right: 2em;
    font-size: 24px;
    color:orange;
    border: 10px, white, solid;
  }
  .container header nav ul{
    display: flex;
    list-style-type: none;
  }
  /* .container header{
      
  } */
  .container .portf{
      width: 100%;
      height: 200px;
      background-color: white;
      margin-top: 100px;
      /* top: 50px;
      padding: 0px;
      position: relative; */
  }
  .container .portf h1{
        /* position: absolute;
        left: 150px;
        top: 50px; */
        
        font-family: Playfair Display;
        font-style: normal;
        font-weight: bold;
        font-size: 63px;
        padding-left: 120px;
        padding-top: 50px;

        color: #014127;


  }
  .first{
    background-color: lightgray;
  }
  .images {

      width: 100%;
      height: 100%;
      background-color: lightgray;
      margin-top: 150px; 
      position: relative;
      /* max-width: 100%;
      background-size: 100% 100%; */
  }
  
   .displace{
    width: 100%;
    top: 20px;
    left: 100px;
    background-color: lightgray;
    
  } 


  /* This is where Laplace ended, keep off!!! POLICE is watching */
  /* section.h1 {
    color: cbolde;
} */
.images .displace  h1{
  font-family: Playfair Display;
  font-style: normal;
  font-weight: bold;
  font-size: 63px;
  color: rgb(1, 29, 1);
}

 .heads {
  font-family: Playfair Display;
  font-style: bold;
  font-weight: normal;
  font-size: 50px;
  color: rgb(1, 29, 1);
  padding: 30px;
  padding-left: 40px;
  padding-right: 0;
  font-family:Georgia, 'Times New Roman', Times, serif;
 /* margin-left: 30px; */
}

.flexer{
  display: flex;
  justify-content: space-evenly;
}

.gallery {
  flex-direction: row;
  /* width: 150px;
  float: left;
  margin-left: 10px;
  margin-right: 10px; */
  background-color: white;
  margin: 5px 20px;
  border: 1px solid #ccc;
  border-radius: 5px; 
  /* float: left; */
  width: 180px;
}
.gallery img {
    width: 100%;
    height: auto;
    filter: grayscale(100%);
  }
.gallery:hover {
  border: 1px solid #777;
}
.desc {
  padding: 3px;
  text-align: center;
  display: flex;
  justify-content: space-evenly;


}
.fa:hover {
  opacity: 0.7;
  
  
}
.name{
    
text-align: center;
font-weight: bold;
}
.fa{
  flex-direction: row;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
  font-size: 40px;
  text-decoration: none;
  padding-right: 3px;
  display: block;
}

.fa-github {
  background: rgb(20, 20, 20);
  color: white;
  font-size: 40px;
  text-decoration: none;
  padding-right: 3px;
  display: block;
}

.fa-linkedin {
background: #007bb5;
color: white;
font-size: 40px;
text-decoration: none;
padding-right: 3px;
display: block;
}

button{
  margin-top: 30px;
  margin-left: 90%;
  color: white;
  padding: 15px 32px;
  text-align:center;
  text-decoration:none;
  font-weight:bold  ;
  /* width: 150px;
  height: 20px; */
  font-size: 16px;
  border: 0px;
  display: inline-block;
  border-radius: 20px;
  background-color: rgb(19, 18, 18);
}

footer{
  font-size: 20px;
  position:fixed;
  bottom: 0;
}