body {
    margin: 0px;
    padding: 0px;
    text-align: center;
}

.ledger-view-modal {
    display: none;
    position: absolute;
    left: 30%;
    z-index: 50;
    width: 30%;
    height: 50%;
    overflow: auto;
    background-color: transparent;
    text-align: center;
}

.view-modal-content {
    text-align: left;
    display: inline-block;
    background-color: rgb(35, 145, 114);
    margin: 5px;
    padding: auto;
    border: 1px solid transparent;
    border-radius: 5px;
    width: 90%;
    height:90%;
    line-height: 2;

}
.modal-content{
    color: white;
    font-weight: bold;
}

.dod{
    color: gold;
    text-align: center;
}
#donor-name, #amount-donated, #donation-date{
    color: rgb(58, 59, 59);
    font-size: 15px
}

#close {
    color: black;;
    float: right;
    font-size: 18px;
    font-weight: bold;
}

#close:hover,
#close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}




.dot {
    visibility: hidden;
}

#edger-wrapper {
    align-content: center;
    border: 2px solid red;
}

#ledger {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 120px;
    padding-left:30px;
    padding-right:30px;
    flex-wrap: wrap;
    background-image: url(https://res.cloudinary.com/abisola/image/upload/v1567281398/Ledger_exlfgv.png);
}





.ledger-menu {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;  
    height: 720px;
    margin-bottom:15px;
    align-content: center;
    justify-content: center;
    border-radius: 20px;
    background-color: rgba(234, 241, 241, 0.363);
}

.ledger-menu-button {
    
    background-color:rgb(187, 243, 227);
    border: 1px solid white;
    border-radius: 10px;
    padding: 7px 27%;
}

.ledger-menu-button>a{
    text-decoration: none;
    color: rgb(35, 145, 114);
    font-size: 20px;
    font-weight: bold;
    line-height: 1.5;  

}

.ledger-menu-button>a:hover {
    text-decoration: none;
    color:gold;
}

.menu-button-div{
    width:80%;
    background-color: white;
    border-radius: 10px;
    padding: 1.5px;
    margin: 40px auto;
}






.ledger-amount {
    display: flex;
    flex-direction: column;
    flex:wrap;
    position: relative;
    width: 75%;
    padding: 20px;
    padding-bottom: 110px;
    height:600px;
    margin-left:20px;
    margin-right: -20px;
    margin-bottom: 10px;
    border-radius: 20px;
    background: linear-gradient(to bottom, rgb(245, 245, 245) , transparent 100%)
}

.ledger-amount-breakdown{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    padding:5px;
    margin: 5%;
    margin-top:10%;
}

.ledger-total-amount{
    color: rgb(35, 145, 114);
    padding:5px 50px;
    border-radius: 50px;
    line-height: 0.3;
    font-weight: bold;
    margin-bottom: 50px;
}



.ledger-table{
    background-color: white;
    padding: 7px;
    border-radius: 7px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.td-details{
    font-weight: bold;
}

.td-name{
    font-size:18px;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;  
}

td,
th {
    border: 1px solid transparent;
    text-align: center;
    padding: 8px;
}

th{
    color: rgb(35, 145, 114);
    font-weight: bolder;
    font-size: 20px;
}

tr:nth-child(odd) {
    background-color: rgb(207, 247, 235);
}

tr:nth-child(1){
    height: 70px;
}

.ledger-table-heading{
    color: gold;
    font-weight: bolder;
    font-size:30px;
    width:70%;
    display: inline-block;
}


[view-button]{
    color: white;
    background-color: rgb(35, 145, 114);
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 100px;
    border: 1px solid transparent;
}

[view-button]>a{
text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 75%;
    font-weight: bold;
    line-height: 1.5;
}

[view-button]>a:hover{
    color: gold;
    text-decoration: none;
}
