@font-face {
    font-family: geometria;
    src: url('../css/Geometria/Geometria-Light.ttf') format('truetype');
  
  }
  *{
    box-sizing: border-box;
  }
body{
    box-sizing: border-box;
    min-height: 100vh;
    /* display: flex;
    flex-flow: column wrap; */
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    padding: 0 30px;
    width: 100%;
    background: linear-gradient(to right, rgba(0,0,0,.4), rgba(0,0,0,.4)), url("https://res.cloudinary.com/laviedegeorge/image/upload/v1567198187/startng/nairo_images/bg-image_vm4qql.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 0;
  padding: 0;
  font-family: geometria;
  }
  header nav {
    margin-top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .icon {
    display: none;
    color:#FFA401;
    font-size: 2rem;
  }
  
  #nav-items {
    display: flex;
    list-style-type: none;
  }
  
  
  #nav-items a {
    text-decoration: none;
    color: #fff;
    margin-right: 2em;
    font-size: 17px;
  }
  



  @media(max-width: 500px) {
    .fa{
      margin-right: 10px;
    }
    #nav-items {
      display: none;
      flex-flow: column wrap;
      background: rgba(17, 16, 16, 0.9);
      color: white;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      text-align: center;
      transition: 500ms ease-in-out all;
      margin: 0px;
    }
   #nav-items li{
     margin: auto;
     margin-top: 0px;
     margin-bottom: 20px;
     display: flex;
   }
  
  i.fa-times{
    font-size: 100px;
    margin-top: 0px;
    align-self: center;
    margin-left: 30px;
    opacity: 0.5;
    mix-blend-mode: hard-light;
   }
   #nav-items li a{
    margin: auto;
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    padding: 10px;
   }
    .icon{ display: block; }
    .first-div { margin: auto; }
    .donate-btn { background-color: darkgreen; border:none;}
    .get-involved-btn { display: none; vertical-align: middle;}
  } 