<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>components</title>
    <link rel="stylesheet" href="/nairocare.com/components/components.css">
</head>
<body>
        <header>
                <nav>
                    <img src="https://res.cloudinary.com/laviedegeorge/image/upload/v1567198184/startng/nairo_images/nairocare-main-trans_szcp2z.png" alt="Nairocare-logo" width="100px" height="100px">
                    <ul>
                        <li><a href="#" id="active">Home</a></li>
                        <li><a href="">Get Involved</a></li>
                        <li><a href="">About Us</a></li>
                        <li><a href="">Talk To Us</a></li>
                    </ul>	
                </nav>
        </header>
</body>
</html>